<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Confirm</title>
  </head>
  <body>
    <p>Логин {{text}}</p>
    <p>Пароль {{password}}</p>
    <p>Комментарий {{comment}}</p>
    <p>Хотел бы вернуться на сайт еще раз? {{radio}}</p>
    <p>Знаком с Ajax? {{checkbox_Ajax}}</p>
    <p>Знаком с JQuery? {{checkbox_JQuery}}</p>
    <p>Будешь использовать этот прием ещё? {{choose_this}}</p>
    <p>И что ты выберешь? {{vibor}}</p>
    <p>А какой файл ты выбрал? {{choose_file}}</p>
  </body>
</html>
